<div class="container">
  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email, "Email Address" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(Must be at least <%= @minimum_password_length %> characters long)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :firstname, "First Name" %><br />
      <%= f.text_field :firstname %>
    </div>

    <div class="field">
      <%= f.label :lastname, "Last Name" %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :province, "Select your province" %><br />
      <%= f.select :province, options_for_select("Alberta":"AB", "British Columbia":"BC", "Manitoba":"MB", "New Brunswick":"NB", "Newfoundland & Labrador":"NL", "Northwest Territories":"NT", "Nova Scotia":"NS", "Nunavut":"NU", "Ontario":"ON", "Prince Edward Island":"PE", "Quebec":"QC", "Saskatchewan":"SK", "Yukon":"YT") %>
    </div>

    <div class="field">
      <%= f.label :postalcode %>
      <em>(format:  'A1B 2C3')</em><br />
      <%= f.text_field :postalcode %>
    </div>

    <div class="field">
      <%= f.label :avatar, "Upload Photo" %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :description, "Bio" %>
      <em>Tell others about yourself</em><br />
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :youtube_url, "YouTube URL" %>
      <em>Upload a video showcasing your talents</em><br />
      <%= f.text_field :youtube_url %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <br />
  Already registered?<br />
  <%= render "devise/shared/links" %>
  <br />
</div>
