<h1><%=@musician.firstname %> <%=@musician.lastname%></h1>

<h3>Bio</h3>

<%= image_tag @musician.avatar.profile %>

Name:
<%= @musician.firstname %> <%= @musician.lastname %>

<br /><%= link_to "Back", request.referer.present? ? request.referer : root_path %>
