<head>
  <%= stylesheet_link_tag "musicians", media: "all" %>
</head>

<div class="container">
  <aside class="profile-left">
    <br /><%= image_tag @musician.avatar.profile %><br />
    <br />
    <h3>Bio:</h3>
    <%= @musician.description %><br />
      <% if @musician.skills.count() > 0 %>
        <br /><h3>Skills:</h3>

        <% @musician.skills.each do |skill| %>
          <%= skill.position.description %>

          <% if musician_signed_in? %>
            <% if current_musician.id == @musician.id %><br />
              <% if skill.mainskill == false %>
                <%= button_to "Make Primary Skill", musician_skill_path(@musician, skill, skill: {mainskill: true}), method: :put, class: "button" %>
                <%= button_to "Remove Skill", musician_skill_path(@musician, skill), method: :delete, class: "button" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if musician_signed_in? %>
        <% if current_musician.id == @musician.id %><br />
          <h3>Add New Skill:</h3>
          <%= form_for [@musician, @skill] do |f| %>
            <% if @skill.errors.any? %>
              <h4><%= pluralize( @skill.errors.count, "error") %>
                  prohibited this skill from being saved:
              </h4>
            <% end %>
            <ul>
              <% @skill.errors.full_messages.each do | msg | %>
                <li>
                    <%= msg %>
                </li>
              <% end %>
            </ul>

            <div id="field">
              <%= f.label :position %>
              <%= f.select :position_id, options_for_select(@positions.collect  { |p| [ p.description, p.id] }) %>
              <!-- <%= f.label :categories %>
              <%= f.hidden_field :level, value: 1 %> -->
              <%= f.hidden_field :musician_id, :value => current_musician.id %>

              <% if @musician.skills.where(mainskill: true).count() == 0 %>
                <%= f.hidden_field :mainskill, value: true %>
              <% end %>
            </div>

            <div>
              <%= f.submit "Create Skill", :class => 'button' %>
            </div>
          <% end %>

        <br /><%= button_to "Edit Profile", edit_musician_registration_path, method: :get, class: 'button' %>

      <% end %>
    <% end %><br /><br />
    <div id = contact >
      <button class="button"><a href="mailto:<%= @musician.email%>?Subject=Hello">Contact Me</a></button>
    </div>
  </aside>

  <main>
    <h1><%= @musician.firstname %> <%= @musician.lastname %></h1>

    <div id="member-position">
      <% @musician.positions.each do |position| %>
        <%= image_tag("skills/lead.png", size:  "50x50") if position.description == "lead" %>
        <%= image_tag("skills/singer.png", size:  "50x50") if position.description == "singer"%>
        <%= image_tag("skills/drummer.png", size:  "50x50") if position.description == "drummer"%>
        <%= image_tag("skills/keyboard.png", size:  "50x50") if position.description == "keyboard"%>
        <%= image_tag("skills/bass.png", size:  "50x50") if position.description == "bass" %>
      <% end %>
    </div>

    <div id="member-band-info">
      <% if musician_signed_in? %><br />
        <div id="bands-owned">
          <% if current_musician.id == @musician.id %>
            <% if current_musician.owned_bands.count > 0 %>
              <br /><h2>Leader of:</h2>
              <% current_musician.owned_bands.each do |band|%>
                <%= link_to band.name, band_path(band), :method => :get  %><br />
              <% end %>
            <% end %>
            <br />
        </div>

        <div id="member-of-bands">
          <% if current_musician.members.count > 0 %>
            <br><h2>Member of:</h2>
            <% current_musician.members.each do |member|%>
              <%= link_to member.band.name, :method => :get %><br />
              <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "lead" %>
              <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "rhythm" %>
              <%= image_tag("skills/singer.png", size:  "50x50") if member.position.description == "singer" %>
              <%= image_tag("skills/drummer.png", size:  "50x50") if member.position.description == "drummer" %>
              <%= image_tag("skills/keyboard.png", size:  "50x50") if member.position.description == "keyboard" %>
              <%= image_tag("skills/bass.png", size:  "50x50") if member.position.description == "bass" %>
            <% end %>
          <% end %>
          <br /><br />
        </div>
      </div>

        <div id="pending-approvals">
          <% if current_musician.approvals.where(approved: false).count > 0 %>

            <br /><h2>Your band applications:</h2><br />
            <% current_musician.approvals.each do |approval|%>
              <% if approval.approved == false %>
                Band:  <%= approval.band.name %><br />
                Position:  <%= approval.member.position.description %><br />
                Approved:  <%= approval.approved %>
                <%= button_to 'View Band', band_path(approval.band.id), :method => :get , class: 'button'%><br />
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key }&callback=initMap", async: true, defer: true %>

      <div id="youtube-window">
        <% if @musician.youtube_url && @musician.youtube_url != "" %>

          <br><h2>Demo Reel</h2>

          <div class="embed-container">
            <%= embed(@musician.youtube_url) %>
          </div>
        <% end %>
      </div>

    <div id="nearby-musicians">
      <br />
        <h2>Musicians near
        <% if @musician == current_musician %>
          you:
        <% else %>
          <%= @musician.firstname %>:<br />
        <% end %></h2>

      <div id="map" data-latitude=<%= @musician.latitude %> data-longitude=<%= @musician.longitude %>
      </div>
    </div>
  </main>
</div>
