<div class="container">


  <br />
  <aside id="profile-side">
    <h1><%= @musician.firstname %> <%= @musician.lastname %></h1>

    <h3>Bio:</h3><br />

    <%= button_to "Back", request.referer.present? ? request.referer : root_path, method: :get %><br />
    <br /><%= button_to "Edit Profile", edit_musician_registration_path, method: :get %>

    <%= image_tag @musician.avatar.profile %><br />

<h1>Description:</h1><br />
<%= @musician.description %><br />

<% if @musician.skills.count() > 0 %>
  <h1>Skills:</h1><br />
  <% @musician.skills.each do |skill| %>
    Skill:  <%= skill.position.description %><br />
    <!-- Level: <%= skill.display_level %><br /> -->
    Primary Skill:  <%= skill.mainskill %><br />

    <% if skill.mainskill == false %>
      <%= button_to "Make Primary Skill", musician_skill_path(@musician, skill, skill: {mainskill: true}), method: :put %>
      <%= button_to "Remove Skill", musician_skill_path(@musician, skill), method: :delete %>
    <% else %>
    <p>
      Change the primary skill first before removing this skill
    </p>
    <% end %>

  <% end %>
<% end %>

    <% if musician_signed_in? %>
      <% if current_musician.id == @musician.id %><br />

<h1>Create New Skill:</h1>

        <%= form_for [@musician, @skill] do |f| %>
          <div id="field">
            <%= f.label :position %><br />
            <%= f.select :position_id, options_for_select(@positions.collect  { |p| [ p.description, p.id] }) %>
            <%= f.label :categories %>
            <!-- <%= f.select :level, [['Beginner', 1], ['Intermediate', 2], ['Advanced', 3]]  %> -->
            <%= f.hidden_field :level, value: 1 %>
            <%= f.hidden_field :musician_id, :value => current_musician.id %>

            <% if @musician.skills.where(mainskill: true).count() == 0 %>
              <%= f.hidden_field :mainskill, value: true %>
            <% end %>

          </div>
          <div>
            <%= f.submit %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </aside>

  <main>
    <% if musician_signed_in? %>
      <div id="bands-owned">
        <% if current_musician.id == @musician.id %>

          <% if current_musician.owned_bands.count > 0 %>

            <h1>Bands owned:</h1><br />

            <% current_musician.owned_bands.each do |band|%>
              Band:  <%= band.name %><br />
              <%= button_to 'View Band', band_path(band), :method => :get %><br />
            <% end %>
          <% end %>
      </div>

      <div id="member-of-bands">
          <% if current_musician.members.count > 0 %>

            <h1>Member of:</h1><br />

            <% current_musician.members.each do |member|%>
              Band:  <%= member.band.name %><br />
              Position:  <%= member.position.description %><br />  <%= button_to 'View Band', band_path(member.band.id), :method => :get %><br />
            <% end %>
          <% end %>
      </div>

      <div id="pending-approvals">
        <% if current_musician.approvals.where(approved: false).count > 0 %>

          <h1>Membership Pending Approval</h1><br />


          <% current_musician.approvals.each do |approval|%>

            <% if approval.approved == false %>
              Band:  <%= approval.band.name %><br />
              Position:  <%= approval.member.position.description %><br />
              Approved:  <%= approval.approved %>
              <%= button_to 'View Band', band_path(approval.band.id), :method => :get %><br />
            <% end %>
          <% end %>
        <% end %>


    <% end %>
  <% end %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key }&callback=initMap", async: true, defer: true %>

    <div id="youtube-window">
      <% if @musician.youtube_url %>

        <h1>Demo Reel</h1>

        <div class="embed-container">
          <%= embed(@musician.youtube_url) %>
        </div>
      <% end %>
    </div>

    <div id="nearby-musicians">
      <br />
        Musicians near
        <% if @musician == current_musician %>
          you:
        <% else %>
          <%= @musician.firstname %>:<br />
        <% end %>

      <div id="map" data-latitude=<%= @musician.latitude %> data-longitude=<%= @musician.longitude%>  >
      </div>
    </div>
  </main>


</div>
