<h1><%=@musician.firstname %> <%=@musician.lastname%></h1>

<h3>Bio</h3>

<%= image_tag @musician.avatar.profile %>

Name:
<%= @musician.firstname %> <%= @musician.lastname %>

<% if musician_signed_in? %>
  <% if current_musician.id == @musician.id %>
    <br /><%= link_to "Edit Profile", edit_musician_registration_path %>
  <% end %>



  <%= form_for  [@musician, @skill] do |f| %>
s
  <div id="field">
    <%= f.label :position %><br />
    <%= f.select :position_id , options_for_select(@positions.collect  {|p| [ p.description, p.id] }) %>
     <%= f.hidden_field :musician_id, :value => current_musician.id %>
  </div>

  <div>
    <%= f.submit %>
  </div>

``<% end %>
<% end %>

<br /><%= link_to "Back", request.referer.present? ? request.referer : root_path %>

<h3>Musicians near you</h3>
<ol>
  <% @nearby_musicians.each do |m| %>
    <li>
      <p><%= m.email %></p>
      <p><%= m.display_distance_to(@musician) %> km away</p>
    </li>
  <% end %>

</ol>
