<h1><%=@musician.firstname %> <%=@musician.lastname%></h1>

<h3>Bio</h3>

<%= image_tag @musician.avatar.profile %>

Name:
<%= @musician.firstname %> <%= @musician.lastname %>

<% if musician_signed_in? %>
  <% if current_musician.id == @musician.id %>
    <br /><%= link_to "Edit Profile", edit_musician_registration_path %>
  <% end %>
<% end %>

<br /><%= link_to "Back", request.referer.present? ? request.referer : root_path %>
