<ul class="musicians-list">
  <% @musicians.each do |musician| %>
    <li>
    <div class="card_content">
    <%= link_to musician.firstname, musician_path(musician.id) %><br />

    <%= image_tag musician.avatar.profile %><br />
      <div class="card_content_padding">


        <% musician.positions.each do |position| %>
          <%= position.description %><br />
        <% end %>


        <div class="card_article">
          <h3 class="position_text"> </h3>
            <a class="musician_aboutme"> I love music and stuff </a>






        <div class="social_icons">
        <a class'profilepic'
        <%= image_tag musician.avatar.thumb %> </a>






                </div>
              </div>
           </div>
      </div>


            <% if current_musician.present? %>
              <%= musician.display_distance_to(@musician) %> km away<br />
            <% else %>
              <p>Based in <%= musician.city %> </p>
            <% end %>
  </li>

  <% end %>

</ul>
