<div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
    <% @musicians.each do |musician| %>
    <div class="small-4 columns">
      <%= link_to musician_path(musician.id) do %>
      <div class="callout" data-equalizer-watch>
        <p id="musician-name">
          <%= musician.firstname %> <%= musician.lastname %>
        </p>
          <%= image_tag musician.avatar.profile, class: "musician-image" %>
        <p id="musician-position">
          <% musician.positions.each do |position| %>
            <%= position.description %><br />
          <% end %>
        </p>
        <p id="musician-location">
        <% if current_musician.present? %>
          <%= musician.display_distance_to(@musician) %> km away<br />
        <% else %>
          Based in <%= musician.city %>
        <% end %>
      </p>
      <% end %>
      </div>
    </div>
    <% end %>
</div>
