<head>
  <%= stylesheet_link_tag "home", media: "all" %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <%= render "home/video" %>
  </header>
  <main>
    <section class="text-center">
      <h1 id="title">Welcome to Band Aide</h1>
    </section>

      <h3>Bands near you:</h3>
        <div class="bands">
            <%= render "home/bands" %>
        </div>

      <h3>Musicians near you:</h3>
        <div class="musicians">
          <%= render "home/musicians" %>
        </div>
  </main>
  <aside>
    <div class="search-category-list">
      <p>Filter by Genre:</p>
      <div class="genres-scroll">
        <%= link_to "All", remote: true, class: "All" %>
        <% @genres.each do |genre| %>
        <%= link_to genre.description, remote: true, class: "#{genre.description}" %>
        <% end %>
      </div>
    </div>
  </aside>
  <aside>
    <div class="search-category-list">
      <p>Filter by Position:</p>
      <div class="positions-scroll">
        <%= link_to "All", remote: true, class: "All" %>
        <% @positions.each do |position| %>
        <%= link_to position.description, remote: true, class: "#{position.description}" %>
        <% end %>
      </div>
    </div>
  </aside>

</body>
