<head>
  <%= stylesheet_link_tag "home", media: "all" %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,600,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <%= render "home/video" %>
    <section class="text-center">
      <h1 id="title">Welcome to Band Aide</h1>
    </section>
  </header>
  <main>
    <% if @vacant_bands.count() > 0 %>
      <div id="vacant-bands-list">
        <h3>Bands looking for members:</h3>
        <%= render partial: "home/vacant_bands" %>
      </div>
    <% end %>
    <h3>Musicians near you:</h3>
    <div id="musicians-list">
      <%= render "home/musicians" %>
    </div>
      <h3>Bands near you:</h3>
      <div id="bands-list">
          <%= render "home/bands" %>
      </div>
  </main>
  <aside class="aside-lock">
    <div class="search-category-list">
      <h4>Filter by Skill:</h4>
      <div class="positions-scroll">
        <%= link_to "All", remote: true, class: "All" %>
        <% @positions.each do |position| %>
        <%= link_to position.description, remote: true, class: "#{position.description}" %>
        <% end %>
      </div>
    </div>
    <br />
    <br />
    <div class="search-category-list">
      <h4>Filter by Genre:</h4>
      <div class="genres-scroll">
        <%= link_to "All", remote: true, class: "All" %>
        <% @genres.each do |genre| %>
        <%= link_to genre.description, remote: true, class: "#{genre.description}" %>
        <% end %>
      </div>
    </div>
  </aside>

</body>
