<head>
  <link rel="stylesheet" href="/stylesheets/home.scss" charset="utf-8">
</head>
<body>
  <%= render "home/video" %>

  <main>
    <section id="welcome">
      <h1 id="title">Welcome to Band Aide</h1>
    </section>

    <section id="homepage-content">
      <h3>Bands</h3>
        <div class="bands">
            <%= render "home/bands" %>
        </div>
        <div class="search-category-list">
          <p>Filter by Genre:</p>
          <div class="genres-scroll">
              <%= link_to "All", remote: true, class: "All" %>
              <% @genres.each do |genre| %>
                <%= link_to genre.description, remote: true, class: "#{genre.description}" %>
              <% end %>
          </div>
        </div>

      <h3>Musicians near you</h3>
        <div class="musicians">
          <%= render "home/musicians" %>
        </div>
        <div class="search-category-list">
          <p>Filter by Position:</p>
          <div class="positions-scroll">
            <%= link_to "All", remote: true, class: "All" %>
              <% @positions.each do |position| %>
                <%= link_to position.description, remote: true, class: "#{position.description}" %>
              <% end %>
          </div>
        </div>
    </section>
  </main>
</body>
