
<h1> Band page <h1>

<h1><%= @band.name %></h1>

<%= image_tag @band.poster.profile %><br />

<h3>Description</h3>
<%= @band.description %><br />

<% @band.members.each do |member| %>

<h3>Current Positions in Band</h3>
  <p>
    <%= member.position.description %> 
  </p>
<% end %>

<% if musician_signed_in? %>
  <% if @band.leader.id == current_musician.id %>

      <%= form_for [@band , @member] do |f| %>

      <div id="field">
        <%= f.label :position %><br />
        <%= f.select :position_id , options_for_select(@positions.collect {|p| [ p.description, p.id] }) %>
        <%= f.hidden_field :musician_id, :value => nil %>
        <%= f.hidden_field :band_id, :value => @band.id %>
      </div>

       <div class="field">
        <%= f.submit %>
      </div>
    <% end %>

  <% end %>

<% end %>

<br /><%= link_to "Back", request.referer.present? ? request.referer : root_path %>
