<br />
<h1><%= @band.name %></h1>

<%= image_tag @band.poster.profile %><br />

<a href="mailto:<%= @band.leader.email%>?Subject=Hello">Contact Me</a>


<h3>Description</h3>
<p><%= @band.description %></p>

<h3>Current Positions in Band</h3><br />

<% @band.members.each do |member| %>
  <p>
    <%= member.position.description %>

    <% if musician_signed_in? %>

      <!-- Owners -->
      <% if @band.leader.id == current_musician.id %>
        <% member.approvals.each do |approval| %>
          <%= approval.musician.firstname %>
          <% if approval.approved == false %>
            <%= button_to 'Accept', band_member_approval_path(@band, member, approval, approval: {approved: true}, member: {musician_id: approval.musician_id}), :method => :put %>
          <% end %>
        <% end %>

        <%= button_to 'Remove', band_member_path(@band, member.id), data: {:confirm => 'Are you sure?'}, :method => :delete %>


      <!-- Non Owner -->
      <% elsif @band.leader.id != current_musician.id %>

          <% if member.vacant? && current_musician.skilled_enough?(member.position.id) %>
            <%= button_to 'Apply', band_member_approvals_path(@band, member, approval: {musician_id: current_musician.id, approval: false, member_id: member.id}), :method => :post %>
          <% elsif member.vacant? && current_musician.skilled_enough?(member.position.id) == false %>
              <p>Cannot apply: this position requires a higher skill level than you currently possess.</p>
          <% else %>
            <%= member.musician.firstname %>
          <% end %>
      <% else %>
          <p>Please register to apply</p>
      <% end %>
    <% end %>


  </p>
<% end %>

<% if musician_signed_in? %>
  <% if @band.leader.id == current_musician.id %>

    <%= form_for [@band , @member] do |f| %>

      <div id="field">
        <%= f.label :position %><br />
        <%= f.select :position_id , options_for_select(@positions.collect {|p| [ p.description, p.id] }) %>
        <%= f.hidden_field :musician_id, :value => nil %>
        <%= f.hidden_field :band_id, :value => @band.id %>
      </div>

      <div class="field">
        <%= f.submit %>
      </div>
    <% end %>

  <% end %>


<% end %>

<br /><%= button_to "Back", request.referer.present? ? request.referer : root_path, method: :get %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key }&callback=initMap", async: true, defer: true %>

<div id="map" data-latitude=<%= @musician.latitude %> data-longitude=<%= @musician.longitude%>  >
</div>
