<head>
  <%= stylesheet_link_tag "band", media: "all" %>
</head>

<div class="container">
  <aside class="profile-left">
    <br /><%= image_tag @band.poster.profile %><br />
    <br /><h3>Bio:</h3>
      <p><%= @band.description %></p>
    <h3>Band Leader:</h3>
      <p><%= @band.leader.firstname %>
      <%= image_tag (@band.leader.avatar.thumb) %></p>
      <button class="button" href="mailto:<%= @band.leader.email%>?Subject=Hello">Contact Band Leader</button>
  </aside>

  <main>
    <h1><%= @band.name %></h1>
    <div id="band-members">
      <h2>Band Members</h2><br />

      <% @band.members.each do |member| %>
        <p class="member-name">
          <% if member.musician != nil %>
            <%=link_to image_tag(member.musician.avatar.thumb), musician_path(member.musician.id) %>
            <%= member.musician.firstname %>
            <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "lead" %>
            <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "rhythm" %>
            <%= image_tag("skills/singer.png", size:  "50x50") if member.position.description == "singer" %>
            <%= image_tag("skills/drummer.png", size:  "50x50") if member.position.description == "drummer" %>
            <%= image_tag("skills/keyboard.png", size:  "50x50") if member.position.description == "keyboard" %>
            <%= image_tag("skills/bass.png", size:  "50x50") if member.position.description == "bass" %>
          <% end %>
        </p>
      <% end %>
    </div>

    <div id="band-vacancies">
    <h2>Vacant Positions</h2>
    <% if @band.members.where(musician_id:nil).count == 0 %>
      <p> There are currently no vacant positions in <%= @band.name %>. </p>
    <%end %>

    <% @band.members.each do |member| %>
      <p>
        <% if member.musician == nil %>
          <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "lead" %>
          <%= image_tag("skills/lead.png", size:  "50x50") if member.position.description == "rhythm" %>
          <%= image_tag("skills/singer.png", size:  "50x50") if member.position.description == "singer" %>
          <%= image_tag("skills/drummer.png", size:  "50x50") if member.position.description == "drummer" %>
          <%= image_tag("skills/keyboard.png", size:  "50x50") if member.position.description == "keyboard" %>
          <%= image_tag("skills/bass.png", size:  "50x50") if member.position.description == "bass" %>
        <% end %>

        <% if musician_signed_in? %>

          <!-- Owners -->
          <% if @band.leader.id == current_musician.id %>
            <% member.approvals.each do |approval| %>
              <%= approval.musician.firstname %>
              <% if approval.approved == false %>
                <%= button_to 'Accept', band_member_approval_path(@band, member, approval, approval: {approved: true}, member: {musician_id: approval.musician_id}), :method => :put, class: "button" %>
              <% end %>
            <% end %>

            <%= button_to 'Remove', band_member_path(@band, member.id), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "button" %>


          <!-- Non Owner -->
          <% elsif @band.leader.id != current_musician.id %>
              <% if member.vacant? %>
                <%= button_to 'Apply', band_member_approvals_path(@band, member, approval: {musician_id: current_musician.id, approval: false, member_id: member.id}), :method => :post, class: "apply-button" %>
              <% end %>
          <% else %>

              <p>Please register to apply</p>
          <% end %>
        <% end %>
      </p>
    <% end %>

    <% if musician_signed_in? %>
      <% if @band.leader.id == current_musician.id %>

        <%= form_for [@band , @member] do |f| %>

          <div id="field">
            <%= f.label :create_new_position, "Add a vacant position" %>
            <%= f.select :position_id , options_for_select(@positions.collect {|p| [ p.description, p.id] }) %>
            <%= f.hidden_field :musician_id, :value => nil %>
            <%= f.hidden_field :band_id, :value => @band.id %>
          </div>

          <div class="field">
            <%= f.submit "Add", :class => 'button'%>
          </div>
          <br>
        <% end %>

        <h2>Musicians near you:</h2>
        <div id="map" data-latitude=<%= @musician.latitude %> data-longitude=<%= @musician.longitude%>>

        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api_key }&callback=initMap", async: true, defer: true %>
        </div>
      <% end %>
    <% end %>
    </div>
  </main>
</div>
