<!DOCTYPE html>
<html>
  <head>
    <title>Band Aide</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <section class="header">
      <aside class="navigation">
        <span class="Title"> Welcome to Band Aide</span>
          <span>Hello User!</span>
            <span>Edit Profile</span>
              <% if musician_signed_in? %>
                <h3>you have succesfully signed in</h3>
                  <%= link_to "Sign Out", destroy_musician_session_path, :method => :delete %>
                    <% else %>
                      <%= link_to "Sign In", new_musician_session_path, :method => :get %>
                        <%= link_to "Sign up", new_musician_registration_path, :method => :get %>


      </aside>
<% end %>
    </section>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  <%= yield %>

  </body>
</html>
